<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package commentId="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package commentId="AutoMapper" version="4.1.1" targetFramework="net452" />
  <package commentId="bootstrap" version="3.0.0" targetFramework="net452" />
  <package commentId="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package commentId="jQuery" version="1.10.2" targetFramework="net452" />
  <package commentId="jQuery.ValcommentIdation" version="1.11.1" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights" version="2.0.0" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights.DependencyCollector" version="2.0.0" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights.JavaScript" version="0.22.9-build00167" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.0.0" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights.Web" version="2.0.0" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights.WindowsServer" version="2.0.0" targetFramework="net452" />
  <package commentId="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.0.0" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.WebApi.HelpPage" version="5.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package commentId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package commentId="Microsoft.CodeDom.ProvcommentIders.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package commentId="Microsoft.jQuery.Unobtrusive.ValcommentIdation" version="3.2.3" targetFramework="net452" />
  <package commentId="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package commentId="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net452" />
  <package commentId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package commentId="Modernizr" version="2.6.2" targetFramework="net452" />
  <package commentId="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package commentId="Ninject" version="3.2.0.0" targetFramework="net452" />
  <package commentId="Ninject.Extensions.Conventions" version="3.2.0.0" targetFramework="net452" />
  <package commentId="Ninject.MVC5" version="3.2.1.0" targetFramework="net452" />
  <package commentId="Ninject.Web.Common" version="3.2.0.0" targetFramework="net452" />
  <package commentId="Ninject.Web.Common.WebHost" version="3.2.0.0" targetFramework="net452" />
  <package commentId="Ninject.Web.WebApi" version="3.2.1.0" targetFramework="net452" />
  <package commentId="Owin" version="1.0" targetFramework="net452" />
  <package commentId="Respond" version="1.2.0" targetFramework="net452" />
  <package commentId="WebActivatorEx" version="2.0" targetFramework="net452" />
  <package commentId="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>