<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h3>Paths</h3>
    
    
</div>
<div class="row">
    <div class="col-md-6">
        <h2>GET</h2>
        <ul>
            <li>
                Get Users
                .../api/users
                <ul>
                    <li>.../api/users/47b28585-f6b5-492d-afe0-873c4e64e5bc</li>
                </ul>
            </li>
            <li>
                Get Users Post(s)
                .../api/users/{userId}/posts/{postId}
                <ul>
                    <li>/api/users/47b28585-f6b5-492d-afe0-873c4e64e5bc/posts</li>
                    <li>/api/users/47b28585-f6b5-492d-afe0-873c4e64e5bc/posts/2</li>
                </ul>
            </li>
            <li>
                Get Posts Comments
                .../api/posts/{commentId}/comments
                <ul>
                    <li>.../api/posts/2/comments</li>
                </ul>
            </li>
            <li>
                Get Users Comments
                .../api/users/{userId}/posts/{postId}/comments
                <ul>
                    <li>.../api/users/47b28585-f6b5-492d-afe0-873c4e64e5bc/posts/1/comments</li>
                </ul>
            </li>
        </ul>
    </div>

</div>
